/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.men{
    height: 35px;
    width: 35px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; /* Bootstrap primary color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #009bb3; /* Darker shade for hover effect */
}

header {
    background-color: #232121;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #232121;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    margin: 20px;
    padding-bottom: 60px;  /* Make room for footer */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

input, select, textarea {
    padding: 8px;
    width: 100%;
    margin: 10px 0;
}

#checkout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#checkout-button:hover {
    background-color: #45a049;
}
